<section id="contact" class="contact">
<div class="container-fluid">
<div class="section-title" data-aos="fade-up">
<h2>Contact</h2>
          <p>Contact Us</p>
</div>

<div class="row wow fadeInUp">
<div class="col-lg-6">
<div class="mapouter">
<div class="gmap_canvas"><iframe frameborder="0" height="436" id="gmap_canvas" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?q=AIC%20%E2%80%93%20Mahamana%20Foundation%20for%20Innovation%20and%20Entrepreneurship%20IM-%20BHU%20(%20AIC-MFIE-IM-BHU)%2C%20Banaras%20Hindu%20University&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" width="635"></iframe></div>
<style type="text/css">.mapouter{position:relative;text-align:right;height:500px;width:635px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:635px;}
</style>
</div>
</div>

<div class="col-lg-6">
<div class="row">
<div class="col-md-5 info">
<p>Fifth floor , CDC building ,<br />
AIC &ndash; Mahamana Foundation for Innovation and Entrepreneurship IM- BHU ( AIC-MFIE-IM-BHU), Banaras Hindu University , Varanasi . U.P, India.</p>
</div>

<div class="col-md-4 info">
<p><a href="mailto:info@acupace.in">info@acupace.in</a></p>
</div>

<div class="col-md-3 info">
<p>91+ 7086880195 / 7827416463</p>
</div>
</div>

<div class="form">


<div id="errormessage"></div>

<form action="" class="contactForm" method="post" role="form">
<div class="form-row">
<div class="form-group col-lg-6"><input autocomplete="off" class="form-control" data-msg="Please enter at least 4 chars" data-rule="minlen:4" id="name" name="name" placeholder="Your Name" type="text" />
<div class="validation"></div>
</div>

<div class="form-group col-lg-6"><input autocomplete="off" class="form-control" data-msg="Please enter a valid email" data-rule="email" id="email" name="email" placeholder="Your Email" type="email" />
<div class="validation"></div>
</div>
</div>

<div class="form-group"><input autocomplete="off" class="form-control" data-msg="Please enter at least 8 chars of subject" data-rule="minlen:4" id="subject" name="subject" placeholder="Subject" type="text" />
<div class="validation"></div>
</div>

<div class="form-group"><textarea autocomplete="off" class="form-control" data-msg="Please write something for us" data-rule="required" name="message" placeholder="Message" rows="5"></textarea>

<div class="validation"></div>
</div>

<div class="text-center"><button title="Send Message" type="submit">Send Message</button></div>
</form>
</div>
</div>
</div>
</div>
</section>