<!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Why Choose Us</h2>
          <p>Why Choose Us</p>
        </div>
        <div><p>Acupace Technologies interfaces with clients to identify their requirement and accordingly, designs, develops and implements an integrated and comprehensive IT or software based solution and provide IOT in Healthcare products and services.</p></div>
        <br>
        <br>
        <div class="row" data-aos="fade-left">
          
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              
              <h3><a href="">IoT Healthcare.</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
             
              <h3><a href="">High Touch Communication.</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
             
              <h3><a href="">Committed to Quality.</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              
              <h3><a href="">Fast Response To Requests & Critical Response Time Guaranteed.</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <p class="card-text">Formerly due to lack the Internet of Things, patients&rsquo; communications with doctors were limited to visits, and tele and text communications. There was no means through doctors or hospitals could monitor patients&rsquo; health continuously and make recommendations accordingly.<br />
Internet of Things (IoT)-enabled devices has made remote monitoring in the healthcare sectornpossible, unleashing the potential to keep patients safe and healthy, and allowing physicians to bring excellent care. It has also increased patient engagement and satisfaction as interactions with doctors have become more comfortable and more efficient.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <p class="card-text">Our goal is to answer every call with a LIVE person. Forget being in automated menu hell. If getting someone to fix your computer is as painful as the computer problem itself, it&rsquo;s a never-ending cycle of frustration. If you happen to get our voicemail it becomes a ticket on our service board immediately and you can be sure to get a call back.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <p class="card-text">We don&rsquo;t pursue every organisation that needs computer support. We choose only clients that share in our values. Serving a company&rsquo;s IT and critical network needs is a HUGE responsibility that we take that very seriously. It takes teamwork and a solid commitment to good communication, excellence, and industry best practices to serve a company in an excellent manner. If we cannot succeed in an excellent manner because of value differences &ndash; we simply don&rsquo;t pursue the opportunity..</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <p class="card-text">Some companies think if your problem doesn&rsquo;t seem that bad they can wait a few days to call you back&hellip;. We get back to you fast so you know when your problem will be resolved. Our contracts spell out our response time. And when you&rsquo;re dead in the water, we respond &ndash; FAST.</p>
            </div>
          </div>
          


          
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row" data-aos="fade-up">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">15</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">20</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,364</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">20</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->