<!-- ======= supported By section ======= -->
    <section id="clients" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our Clients</h2>
          <p>Supported & Recognised By</p>
        </div>

        <div class="row no-gutters" data-aos="fade-left">

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="assets/img/clients/1.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/clients/1.png" alt="" class="img-fluid" style="max-width: 70%;">
              </a>
            </div>
          </div>


          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="assets/img/clients/2.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/clients/2.png" alt="" class="img-fluid" style="max-width: 70%;">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="assets/img/clients/1.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/clients/3.png" alt="" class="img-fluid" style="max-width: 70%;">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="assets/img/clients/4.jpg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/clients/4.jpg" alt="" class="img-fluid" style="max-width: 70%;">
              </a>
            </div>
          </div>


        </div>
        
    </div>
    </section> <!-- ===== end of supported section =====-->    

<!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p>Check our Gallery</p>
        </div>

        <div class="row no-gutters" data-aos="fade-left">

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="assets/img/gallery/001.jpg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/001.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
              <a href="assets/img/gallery/008.jpg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/008.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="assets/img/gallery/009.jpg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/009.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
              <a href="assets/img/gallery/002.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/002.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
              <a href="assets/img/gallery/003.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/003.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
              <a href="assets/img/gallery/004.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/004.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">
              <a href="assets/img/gallery/005.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/005.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="assets/img/gallery/006.png" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/006.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>
           <div class="col-lg-3 col-md-3">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="assets/img/gallery/007.jpg" class="venobox" data-gall="gallery-item">
                <img src="assets/img/gallery/007.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Gallery Section -->