 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>About Us</h3>
            <p>Acupace Smart real-world step count movement into electrical energy and sensors that collect and transmit accurate data to Cloud using IOT services each step and much more. Also useful in Health and Medical Monitoring Applications.</p>
            <p>Acupace Technologies provide smart insole that generates and store electrical energy from your footsteps.
Acupace Technologies propose : - To accelerates IoT Healthcare and digital transformation for companies / customers globally by leveraging the best in breed open source technologies and creating digital engagement solutions across channels.

Seamlessly integrated digital experience solutions allow companies to better engage with partners, employees and customers.Also specializing in website design, SEO, content management, software training and app, graphic & web development and various other services.

In order to give our customers the best experience from our services, we deeply understand and analyze their corporate needs for example, their services & products, goals and range of target customers. We walk the extra mile to give your company the best exposure of online visibility through our quality and timely services. Keeping in mind your brand’s needs, the results we deliver are invariably effective!</p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Smart Insole Digitally-</a></h4>
              <p class="description">Our smart insole is digital and provides peace of mind for family members and those caring for the millions of people suffering from memory impairment and wandering which can be caused by Alzheimer’s disease, Dementia, Autism, Traumatic Brain Injury or other cognitive memory disability. Pressure(simulate animation) , Foot motions and curves in real-time with electric energy. Pronation / supination and other foot movements analysis Swing analysis / Spatial parameters / Temporal parameters analysis reports share / generate reports in PDF format.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">IoT Healthcare</a></h4>
              <p class="description">The patented energy harvesting material from footstep enabled “Smart” insoles to generate and charge mobiles which is sustainable green energy in nature. It can fit easily into most adult shoes and let you monitor the movement of loved ones who may tend to wander or are at risk of becoming disoriented and lost.

Applications - Identify and correct walking/running patterns in the Mobile Applications Quantify the impact of training on devices. Improve athletic performance from accurate captured analysis report.

</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">3D printing, Computer precision and IOT technologies</a></h4>
              <p class="description">We are designing accurate and efficient insole models using latest 3D printing, computer precision and IOT technologies which will reduce production time & costs.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/details-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Our Vision.</h3>
            <p class="font-italic">
              At Acupace Technologies, our basic is to stand in good stead of our clients by offering them world-class, effective services that will result in maximizing the extent of benefits to them. With such a noble thinking, proven quality in the result-oriented services, we also focus on bridging never-ending amicable relations with our clients and with that all we have become the cynosure of all eyes in the industry.
            </p>
            
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/details-2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>IoT Healthcare</h3>
            <p class="font-italic">
              Smart insole
Simultaneous reporting and monitoring - Real-time monitoring via connected devices can track daily basis reporting to real time
End-to-end connectivity and affordability - IoT in healthcare enables interoperability, machine-to-machine communication, information exchange, and data movement that makes healthcare service delivery effective
            </p>
           
          </div>
        </div>

        

      </div>
    </section><!-- End Details Section -->