 <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">
      	 <div class="section-title" data-aos="fade-up">
          <h2>Awards/Recognition</h2>
          <p>Awards/Recognition</p>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/testimonials/testimonial-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Startup Istanbul</h3>
            <p class="font-italic">
              Acupace Technologies is selected to Startup Istanbul Top 100 Demo Day.
            </p>
            
          </div>
        </div>

         <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/testimonials/testimonial-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Startup India</h3>
            <h4>DPIIT Recognition from Startup India</h4>
            <p class="font-italic">
              Startup India is a flagship initiative of the Government of India, intended to catalyse startup culture and build a strong and inclusive ecosystem for innovation and entrepreneurship in India.
            </p>
            
          </div>
        </div>

         <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/testimonials/testimonial-2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>StartUp</h3>
            <p class="font-italic">
             Acupace Technologies is selected to Startup Istanbul Top 100 Demo Day
            </p>
            
          </div>
        </div>

        

        

      </div>
    </section><!-- End Details Section -->

 <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our Great Team</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-3">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sumit Kumar</h4>
                <span>Serial Entrepreneur,Founder & CEO Acupace Technologies Pvt Ltd</span>
                <span><strong>acupace@gmail.com</strong></span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/sumities"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/sumit-kumar-762312177/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Vishal Kumar</h4>
                <span>Co-Founder & CTO Acupace Technologies Pvt Ltd</span>
                <span><strong>vishal.cool68@gmail.com</strong></span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/Vishalkumar68"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kunal Kumar</h4>
                <span>Manager</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/abhilasha.panwar.3"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhilasha-panwar-40508674"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-4.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Smita Sharma</h4>
                <span>Chief Information Officer</span>
                
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/abhilasha.panwar.3"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhilasha-panwar-40508674"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-3 col-md-3 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-5.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr.Sanjay Rai</h4>
                <span>Mentor (Associate Professor, SBME, Indian Institute of Technology (BHU), Varanasi, India)</span>
                
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/abhilasha.panwar.3"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhilasha-panwar-40508674"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-3 col-md-3 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-6.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Chandan Kumar</h4>
                <span>Mentor (Ph.D, Research &amp; development)</span>
                
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/abhilasha.panwar.3"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhilasha-panwar-40508674"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-3 col-md-3 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-7.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr.Prof Pralay Maiti</h4>
                <span>Mentor (R &amp; D in SMST, Indian Institute of Technology (BHU), Varanasi, India)</span>
                
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/abhilasha.panwar.3"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhilasha-panwar-40508674"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>




      </div>
    </section><!-- End Team Section -->