 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><img src="assets/img/aculogo.png" alt="" class="img-fluid"></a></h1>
      </div>



      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#features">Why Choose Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#clients">Our Clients</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
    

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->