 <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h2 style="font-size: 25px;"><strong>&quot;An effort to improvise your steps&quot;</strong></h2>

             <p style="color: #fff;">Acupace technologies provide smart insole that generates and store electrical energy from your footsteps. </p>

              <p style="color: #fff;">Our smart insole is digital and provides peace of mind for family members and those caring for the millions of people suffering from memory impairment and wandering which can be caused by Alzheimer&rsquo;s disease, Dementia, Autism, Traumatic Brain Injury or other cognitive memory disability.</p>

              <br>

            <div class="hero-btn"><a class="btn-get-started scrollto" href="#about">Get Started</a> <a class="btn-services scrollto" href="#services">Our Services</a></div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/intro-img.svg" class="img-fluid animated" alt="">
        </div>
       
      </div>
      <br>
       <br>
    </div>

    <!--<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>-->

  </section><!-- End Hero -->