  <!--Services Section
    ============================-->

<section class="section-bg" id="services">
<div class="container">
<header class="section-header">
<h3 class="text-center" style="color: blue; font-size: 40px; font-style: bold;">Services</h3>

<p class="text-center">IOT Healthcare products and Enterprises need to anticipate their business needs and constantly evolve custom software development practices.</p>
</header>
<br>
<div class="row">
<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="1.4s" data-wow-duration="1.4s">
<div class="box">
<div class="icon"></div>

<h4 class="title"><a href="">IOT in Healthcare</a></h4>

<p class="description">Smart insole<br />
<b>Simultaneous reporting and monitoring </b>- Real-time monitoring via connected devices can save lives in event of a medical emergency like heart failure, diabetes, asthma attacks, etc.<br />
<b>End-to-end connectivity and affordability </b>- IoT in healthcare enables interoperability, machine-to-machine communication, information exchange, and data movement that makes healthcare service delivery effective.</p>
</div>
</div>

<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
<div class="box">
<div class="icon"></div>

<h4 class="title"><a href="">Web Application Development</a></h4>

<p class="description">Technologies -</p>

<p class="description">HTML5, CSS, Javascript, Jquery, Angula 2 /6 / 7 , Bootstrap,MySQL, SQL Server, MOngoDB, PHP, Nodejs,Java,Python,Asp.Net</p>

<p class="description">DevOps - Apache, Negix, Windows Server</p>

<p class="description">Service Bridge Development - Nodejs , PHP, Java (Spring), Servets</p>
</div>
</div>

<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
<div class="box">
<div class="icon"></div>

<h4 class="title"><a href="">Mobile Application Development</a></h4>

<p class="description">Technologies-</p>

<p class="description">Hybrid / Native Mobile Application - Ionic Framework , Angular 2 / 6 , Cordova , Phonegap, HTML5, CSS, SCSS,Kotlin,Java,Objective C,Swift</p>
</div>
</div>

<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
<div class="box">
<div class="icon"></div>

<h4 class="title"><a href="">Enterprise Solution</a></h4>

<p class="description">ERP is one of the most widely implemented business software systems in a wide variety of industries and organizations. ERP is the acronym of Enterprise Resource Planning. ERP is just not only a software. ERP definition refers to both; ERP software and business strategies that implement ERP systems.</p>
</div>
</div>

<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
<div class="box">
<div class="icon"></div>

<h4 class="title"><a href="">Customize Software Applications</a></h4>

<p class="description">Whether it is custom software application development, search engine optimization or graphic design &amp; video animation and other services we offer, Acupace Technologies has made a mark in the industry by providing premium quality services to its clientele as a result of which we are always in huge demand amidst our customers.</p>
</div>
</div>

<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
<div class="box">
<div class="icon"></div>

<h4 class="title"><a href="">Content Management System</a></h4>
<a> </a>

<p class="description"><a>A web content management system is a bundled or stand-alone application to create, manage, store and deploy content on Web pages. Web content includes text and embedded graphics, photos, video, audio, and code (e.g., for applications) that displays content or interacts with the user.</a></p>
<a> </a></div>
<a> </a></div>
<a> </a>

<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s"><a> </a>

<div class="box"><a> </a>

<div class="icon"></div>
<a> </a>

<h4 class="title"><a href="">Digital marketing / Search Engine Optimization</a></h4>

<p class="description">Acupace Technologies has a successful history of SEO services and we still have managed the repute to offer premium SEO services to our clientele. Exploiting our SEO services, you can be rest assured to find your website in the first top ten results of Google organic ranking results. After all, we understand the value of your hard-earned money; therefore provide services and solutions that can meet the goals of your business successfully.</p>
</div>
</div>
</div>
</div>
</section>
<!-- #services -->